# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files
*.sh text eol=lf
*.md text eol=lf
*.cfg text eol=lf
*.txt text eol=lf

# Treat binary files as binary
*.png binary
*.jpg binary
*.jpeg binary
*.ts binary 